/* li{
    display: inline-block;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    
}

li:hover{
    background-color: green;
} */


/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
position: absolute;
right: 0;
margin-right: 20px;

} */

.container-forme{
    width: 100%;
    height: 50px;
    background-color: black;
}

.carousel{
    width: 500px;
    height: 500px;
    background-color: black;
}

.card{
    display:  inline-block;
    margin: 10px;
}

.form-group{
    width: 100%;
}

.box-div{
    border: 2px double gray;
    padding: 40px;
    width: 100%;
    margin-top: 100px;
    border-radius: 20px;
}

.container-centre{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:  auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.my-input{
    padding: 10px;
    border-radius: 10px;
    width: 68%;
    
}

.my-button{
    width: 70%;
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 10px;


}

.my-select{
    width: 70%;
    border-radius: 10px;
    padding: 10px;

}

.my-option{
    background-color: bisque;
    padding: 10px;
}


table{
    width: 90%;
    margin:  auto;
    margin-top: 10px;
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    text-align: center;
}

/* tr:nth-child(even){
    background-color: bisque;
}

tr:nth-child(odd){
    background-color: blanchedalmond;
} */


tr:hover{
    background-color: azure;
    cursor: pointer;
}



.nav-link{
    cursor: pointer;
}


.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 20px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }

/* 
  i:hover{
    background-color: red;
    color: red;
    font-size: 40px;
  } */



